.first-section{
  background: url('../img/BG.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height:80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

